
<!DOCTYPE html>
<html>
<head> 
<meta charset="utf-8"> 
<title>主页面</title> 
</head>

<body>


<div id="container" style="width:500px">

<hr>
<table border="1">
<tr>
<th><select><option value="1">展家科技</option>
                    <option value="2">公司信息</option>
                    <option value="3">问题反馈</option>
                    <option value="4">退出</option>
  </select></th><th>组织管理</th><th>工作台</th><th>审批</th><th>考勤</th><th>共享文档</th><th>外出打卡</th>
</tr>
<tr>
<td><div id="menu" style="background-color:#FFD700;height:220px;width:100px;float:left;">
<li><a href="http://" target="_blank">工作动态</a></li><br>
<li><a href="http://" target="_blank">公司消息</a></li><br>
<li><a href="http://" target="_blank">员工在线</a></li><br>
<li><a href="http://" target="_blank">电话会议</a></li><br>
<li><a href="http://" target="_blank">视频会议</a></li><br>
</div></td>
</tr>
</table>

<hr>

</div>
</body>
</html>
