<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"></meta>
<title>larger5</title>
<link href='/easyui/jquery-easyui-1.5.1/themes/default/easyui.css' rel='stylesheet' type='text/css'/>
<link href='/easyui/jquery-easyui-1.5.1/themes/icon.css' rel='stylesheet' type='text/css'/>
<link href='/easyui/jquery-easyui-1.5.1/demo/demo.css' rel='stylesheet' type='text/css'/>
<script type='text/javascript' src='/easyui/jquery-easyui-1.5.1/jquery.min.js'></script>
<script type='text/javascript' src='/easyui/jquery-easyui-1.5.1/jquery.easyui.min.js'></script>
<script type='text/javascript' src='/easyui/jquery-easyui-1.5.1/locale/easyui-lang-zh_CN.js'></script>
        <script type="text/javascript">
            function openTab(text, url, iconCls) {
                if($("#tabs").tabs("exists", text)) {
                    //如果已经存在，则使之处于选中的状态
                    $("#tabs").tabs("select", text);
                } else {
                    //如果不存在则新增加一个
                    var content = "<iframe frameborder=0 scrolling='auto' style='width:100%;height:100%' src='" + url + "'></iframe>";
                    $("#tabs").tabs("add", {
                        title: text, //标题
                        iconCls: iconCls, //图标
                        closable: true, //可以关闭
                        content: content //内容，内嵌一个 iframe！
                    });
                }
            }
        </script>
    </head>

    <body class="easyui-layout">

        <div region="north" style="height: 107px;background-color: #F0F0F0">
            <table style="padding: 5px" width="100%">
                <tr>
                    <td width="50%">
                        <img alt="logo" src="images/logo.png" />
                        		展家科技
                    </td>
                    <td valign="bottom" align="right" width="50%">
                        <!-- <font size="3">&nbsp;&nbsp;<strong>欢迎：</strong><span>展家科技</span></font> -->
                        <a href="javascript:logout()" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-no'" style="width: 150px;">退出</a>
                    </td>
                </tr>
            </table>
        </div>

<!-- <body class="easyui-layout" style="font-size: 15px;"> -->
<form id="form1" runat="server">
<!--左侧-->
		<div data-options="region:'west',title:' '" style="width: 250px; background-color: powderblue; font-size: inherit;">
			<div id="div_welcome" style="margin: 15px 0 15px 0; text-align: center;">展家科技,欢迎您</div>
				<div id="div_leftmenu" class="easyui-accordion">
				<div title="设置">
					<ul>
					<a href="javascript:openTab('公司信息','/userController/show','icon-add')" class="easyui-linkbutton" data-options="plain:true" style="width: 150px;">公司信息</a>
					</ul>
				</div>
				<div title="工作台">
					<ul>
					<a href="javascript:openTab('公告','/userController/show','icon-add')" class="easyui-linkbutton" data-options="plain:true" style="width: 150px;">公告</a>
					</ul>
				</div>
				<div title="Title3">
					<a href="javascript:openTab('工作动态','/userController/show','icon-add')" class="easyui-linkbutton" data-options="plain:true" style="width: 150px;">工作动态</a>
	                <a href="javascript:openTab('公司消息','/userController/show','icon-edit')" class="easyui-linkbutton" data-options="plain:true" style="width: 150px;">公司消息</a>
	                <a href="javascript:openTab('员工在线','/userController/show','icon-remove')" class="easyui-linkbutton" data-options="plain:true" style="width: 150px;">员工在线</a>
	                <a href="javascript:openTab('电话会议','/userController/show','icon-ok')" class="easyui-linkbutton" data-options="plain:true" style="width: 150px;">电话会议</a>
	                <a href="javascript:openTab('视频会议','/userController/show','icon-save')" class="easyui-linkbutton" data-options="plain:true" style="width: 150px;">视频会议</a>
	                <a href="javascript:openTab('组织管理','/userController/show','icon-save')" class="easyui-linkbutton" data-options="plain:true" style="width: 150px;">组织管理</a>
	                <a href="javascript:openTab('工作台','/userController/show','icon-save')" class="easyui-linkbutton" data-options="plain:true" style="width: 150px;">工作台</a>
	                <a href="javascript:openTab('审批','/userController/show','icon-save')" class="easyui-linkbutton" data-options="plain:true" style="width: 150px;">审批</a>
	                <a href="javascript:openTab('考勤','/userController/show','icon-save')" class="easyui-linkbutton" data-options="plain:true" style="width: 150px;">考勤</a>
	                <a href="javascript:openTab('共享文档','/shareFileController/file','icon-save')" class="easyui-linkbutton" data-options="plain:true" style="width: 150px;">共享文档</a>
	            	<a href="javascript:openTab('公司信息','/userController/show','icon-save')" class="easyui-linkbutton" data-options="plain:true" style="width: 150px;">公司信息</a>
	            	<a href="javascript:openTab('问题反馈','/userController/show','icon-save')" class="easyui-linkbutton" data-options="plain:true" style="width: 150px;">问题反馈</a>
	            	<a href="javascript:openTab('外出打卡','/userController/show','icon-save')" class="easyui-linkbutton" data-options="plain:true" style="width: 150px;">外出打卡</a>
				</div>
			</div>
		</div>

        <div region="center">
            <div class="easyui-tabs" fit="true" border="false" id="tabs">
                <div title="首页" data-options="iconCls:'icon-help'">
                    <div align="center" style="padding-top: 100px"> 
                        <font color="green" size="10">欢迎使用</font>
                    </div>
                </div>
            </div>
        </div>
        <div region="south" style="height: 30px;padding: 5px" align="center">
            Copyright © 2016-2018 larger5
        </div>

    </body>

</html>
